<form methods="get" action="/quizes">
    <p>Busqueda: </p>

<input type="text" name="search" value="Busqueda"/>
<input type="submit" value="Enviar">
    </form>
<table>
    <% var i; for(i=0; i<quizes.length; i++){%>
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
</table>
